<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="app">
      <button onClick="vm.openForm()">Open Form</button>
      <h1>{{ "Nilai a : " + a }}</h1>
      <h1>{{ "Rata-rata : " + rata }}</h1>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
      // Soal 2
      var vm = new Vue({
        el: "#app",
        data: {
          a: 0,
          rata: 0,
          i: 0,
          jumlah: 0,
        },
        methods: {
          openForm: function () {
            this.a = parseInt(prompt("Masukkan nilai : ")) + parseInt(prompt("Masukkan nilai : ")) + parseInt(prompt("Masukkan nilai : ")) + parseInt(prompt("Masukkan nilai : "));
            this.rata = this.a / 4;
          },
        },
      });
    </script>
  </body>
</html>
