<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Rekap Live Session</title>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  </head>

  <body>
    <div id="app" style="border: 1px solid black; padding: 20px">
      <div class="formInput" style="border: 1px solid black; margin: 10px; padding: 10px">
        <input type="text" v-model="formUser" />

        <button v-if="!editButton" @click="addUser">Add</button>

        <button v-if="editButton" @click="updateUser">Update</button>
      </div>

      <div class="usersList" style="border: 1px solid black; margin: 20px">
        <ul>
          <li v-for="(user , index) in reverseUsers" :key="index">
            {{ user.name }} ||

            <button @click="editUser(index)">Edit</button>

            <button @click="deleteUser(index)">Delete</button>
          </li>
        </ul>
      </div>
    </div>

    <!-- Pemanggilan Component Yang Dibuat - Global -->
    <div id="app2" style="border: 1px solid black; padding: 10px; margin: 20px">
      <component-satu></component-satu>
      <component-dua></component-dua>
      <component-tiga></component-tiga>
      <component-empat></component-empat>
    </div>
    <!-- Akhir Pemanggilan -->

    <!-- Pemanggilan Component Yang Dibuat - Local -->
    <div id="app3" style="border: 1px solid black; margin: 10px; padding: 10px; margin: 20px">
      <component-a></component-a>
    </div>
    <!-- Akhir Pemanggilan -->

    <!-- Pemanggilan Data Props dari Children Ke Parent -->
    <div id="app4" style="border: 1px solid black; margin: 20px; padding: 10px">
      <h1>Member Terpilih : {{ memberTerpilih }}</h1>
      <member-component v-for="(member, index) in members" v-bind:nama="member.nama" v-bind:alamat="member.alamat" v-bind:umur="member.umur" v-bind:key="index" @terpilih="handleTerpilih($event)"></member-component>
    </div>
    <!-- Akhir Pemanggilan -->

    <script>
      // Deklarasi Component Global
      // Menggunakan Template dari Component
      Vue.component("component-satu", {
        template: `<h1>Ini adalah component satu</h1>`,
      });

      // Menggunakan Data dari Component
      Vue.component("component-dua", {
        template: `<h1>{{ pesan }}</h1>`,
        data: function () {
          return {
            pesan: "Ini adalah pesan dari data component dua",
          };
        },
      });

      // Menggunakan Computed dari Component
      Vue.component("component-tiga", {
        template: `<h1>{{ pesanDua }}</h1>`,
        data: function () {
          return {
            pesan: "Ini adalah pesan dari data component tiga",
          };
        },

        computed: {
          pesanDua: {
            get: function () {
              return this.pesan + " dari computed";
            },
          },
        },
      });

      // Menggunakan Method dari Component
      Vue.component("component-empat", {
        template: `<h1>{{ pesan }}</h1>`,
        data: function () {
          return {
            pesan: "Ini adalah pesan dari data component empat dari methods",
          };
        },

        methods: {
          ubahPesan: function () {
            this.pesan = "dari methods";
          },
        },
      });
      // Akhir Deklarasi

      // Inisialisasi Untuk Component Global
      let component01 = new Vue({
        el: "#app2",
      });
      // Akhir Inisialisasi

      // Inisialisasi Untuk Component Local
      let componentA = {
        template: `<h2>Ini adalah component A</h2>`,
      };

      // Register Component Local
      let component02 = new Vue({
        el: "#app3",
        components: {
          "component-a": componentA,
        },
      });
      // Akhir Inisialisasi

      // Inisialisasi - Latihan Props
      let memberComponent = {
        template: `<div>
          <h1> {{ nama }} </h1>
          <h2> {{ alamat }} </h2>
          <h2> {{ umur }} </h2>
          <button @click="$emit('terpilih' , member.nama)"> Ubah Data </button>
          <button> Hapus Data </button>
          </div>`,
        props: ["nama", "alamat", "umur"],
      };

      // Register / Pengambilan Data Props
      let component03 = new Vue({
        el: "#app4",
        components: {
          "member-component": memberComponent,
        },
        data: {
          members: [
            {
              nama: "Yeyen Ary",
              alamat: "Bekasi",
              umur: "23 Tahun",
            },
            {
              nama: "Dinda Tri",
              alamat: "Bandung",
              umur: "20 Tahun",
            },
            {
              nama: "Aldy Fikhri Muhammad",
              alamat: "Sumedang",
              umur: "22 Tahun",
            },
          ],
          memberTerpilih: "",
        },
        methods: {
          handleTerpilih: function (nama) {
            this.memberTerpilih = nama;
          },
        },
      });
      // Akhir Inisialisasi
    </script>
  </body>
</html>
