body {
  background-color: #bebebe;
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 15px;
  color: #333333;
  margin: 0;
}
.container {
  margin: 25px 100px;
  width: auto;
  padding: 10px;
  box-sizing: border-box;
  background-color: rgb(255, 255, 255);
  border-radius: 50px;
  background: #e0e0e0;
  box-shadow: 25px -25px 50px #b3b3b3, -25px 25px 50px #ffffff;
}
.container:hover {
  box-shadow: 25px -25px 50px #808080, -25px 25px 50px #dddddd;
  background-color: #ececec;
}
img {
  width: 250px;
  height: 250px;
  margin: 10px auto;
  display: flex;
  justify-content: center;
}

.title {
  font-size: 25px;
  text-align: center;
  text-shadow: 6px 6px 9px rgba(0, 0, 0, 0.7);
}
span {
  color: #808080;
}
.title:hover {
  text-shadow: 7px 7px 10px rgba(0, 0, 0, 0.9);
}
table {
  border-collapse: collapse;
  border: none;
  vertical-align: middle;
  border-spacing: 0;
  width: 100%;
  margin: 0 auto;
}
.content {
  margin: 25px auto;
}
td {
  width: 100px;
  padding-right: 50px;
}
.dataBio {
  padding-left: 50px;
}
