<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Quiz 2</title>
  </head>
  <body>
    <div id="app">
      <form>
        <input type="text" v-model="search" v-on:input="users" placeholder="Tambahkan Pengguna" />
        <div v-if="newData" style="display: inline-block">
          <button type="button" v-on:click="addUsers" v-on:input="addUsers" v-bind:value="editUsers" v-show="update">{{ add }}</button>
        </div>
      </form>
      <div>
        <ul>
          <li v-for="(users, index) in users">
            {{ users.name }} <button type="button" v-on:input="editUsers" v-show="!users.edit" v-on:click="editUsers(users)">Edit</button> ||
            <button type="button" v-bind:value="deleteUsers" v-on:input="deleteUsers" v-show="!users.delete" v-on:click="deleteUsers(users)">Delete</button>
          </li>
        </ul>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
      var vm = new Vue({
        el: "#app",
        data: {
          users: [
            {
              name: "Muhammad Iqbal Mubaroq",
            },
            {
              name: "Ruby Purwanti",
            },
            {
              name: "Faqih Muhammad",
            },
          ],
          search: "",
          editUsers: "",
          deleteUsers: "alertDelete",
          newUsers: "",
          updateUsers: "",
          newData: true,
          add: "Add",
          update: "Update",
          alertDelete: "Delete",
        },
        computed: {},
        methods: {
          addUsers: function () {
            this.users.push({
              name: this.search,
            });
            this.search = "";
          },
          editUsers: function (users) {
            this.users = Object.assign({}, person);
            users.edit = true;
          },
          cancelUsers: function (users) {
            Object.assign(users, this._users);
            users.edit = false;
          },

          updateUsers: function () {
            this.users.push({
              name: this.search,
            });
            this.search = "";
          },
          deleteUsers: function () {
            this.users.push({
              name: this.search,
            });
            this.search = "";
          },
          alertDelete: function () {
            if (confirm("Apakah kamu yakin?")) {
              alert("Uer telah dihapus!");
            }
          },
        },
      });
    </script>
  </body>
</html>
