<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tugas Directives dan Form Input Binding</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body>
  <div id="app">
    <!-- {{ kata }} | {{ reverseKata}} -->
    <input type="text" v-model="keyword">
    <ul>
      <li v-for="(book , index) in filterBooks" :key="index">{{ book }}</li>
    </ul>
    <!-- <button type="button" v-on:click="handleClick">Click Me</button> -->
  </div>

  <script>
    let vm = new Vue({
      el : '#app',
      data : {
        books : [ 
          'Kalkulus Dasar',
          'Aljabar Linier Elementer',
          'Fisika Dasar',
          'Kimia Dasar',
          'Kalkulus Peubah Banyak'
        ],
        keyword : '',
        // kata : 'PKS DS'
      },
      computed : {
        filterBooks : function(){
          let newBooks = this.books.filter( (el) => {
            return el.toLowerCase().includes(this.keyword.toLowerCase())
          })

          return newBooks
        },
        // reverseKata : function(){
        //   return this.kata.split('').reverse().join('')
        // }
      },
      // methods : {
      //   handleClick : function(){
      //     alert('masuk ke handle Click')
      //   }
      // }
    })
  </script>
</body>
</html>