<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tugas 9 & 10</title>
  </head>
  <body>
    <div id="app">
      <form>
        <input type="text" v-model="search" v-on:input="filteredBooks" placeholder="Ketikan kata kunci" />
      </form>
      <div v-if="newData">
        <ul>
          <li v-for="(showedBooks , index) in showedBooks ">{{ showedBooks }}</li>
        </ul>
      </div>
      <div v-else>
        <ul>
          <li v-for="(books, index) in books">{{ books }}</li>
        </ul>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
      var vm = new Vue({
        el: "#app",
        data: {
          books: ["Kalkulus Dasar", "Fisika Dasar", "Aljabar Linear Elementer", "Aljabar Abstrak", "Algoritma Pemrograman"],
          search: "",
          message: "",
          showedBooks: "",
          newData: false,
        },
        computed: {},
        methods: {
          filteredBooks: function () {
            if (this.search.length > 0) {
              this.newData = true;
            } else {
              this.newData = false;
            }
            this.showedBooks = this.books.filter((book) => {
              return book.toLowerCase().includes(this.search.toLowerCase());
            });
          },
        },
      });
    </script>
  </body>
</html>
